*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* funzioni ripetute */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    display: inline;
    vertical-align: middle;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.wh100{
    width: 100%;
}

.wh70{
    width: 70%;
}

.wh50{
    width: 50%;
}

.wh40{
    width: 40%;
}

.wh30{
    width: 30%;
}

.wh20{
    width: 20%;
}

.wh15{
    width: 15%;
}

.ver-al
{
    vertical-align: middle;
}

.border{
    border: 1px solid rgb(202, 200, 200);
}

.fw-bold{
    font-weight: bold;
}

.bg-lblu{
    background-color: lightblue;
}

/* for header */
.fixed{
    position: fixed;
    z-index: 3;
    background-color: white;
}

header ul li{
    display: inline;
    padding: 0 20px;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
}

header ul li:hover{
    background-color: rgb(230, 221, 221);
    transition: 200ms;
    padding: 10px 20px;
}

header nav{
    line-height: 80px;
    margin: 0 20px;
}

header a{
    color: rgb(27, 26, 26);
}

.brand-btn{
    background-color: rgb(0, 132, 255);
    padding: 10px 15px;
    color: white;
    font-weight: bold;
}

.brand-btn:hover{
    background-color: rgb(92, 168, 240);
    transition: 200ms;
}


.end-header{
    background-color: rgb(169, 197, 250);
    padding: 130px;
}

.end-header h1{
    font-size: 6em;
    margin-bottom: 50px;
}

.end-header .jumbot{
    width: 50%;
    position: absolute;
    margin-left: 100px;
}

.end-header p{
    font-weight: bold;
    margin-bottom: 40px;
}

.end-header span{
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

.ar-down{
    width: 10%;
    margin-top: 50px;
}

/* for main */

/* first part */
.container{
    margin: 15% 15% 3% 15%;
}

.container h1{
    font-size: 2.7em;
    margin-bottom: 50px;
}

main section{
    margin-top: 30px;
}

.user{
    border-bottom: 1px solid rgb(202, 200, 200);
    text-align: center;
    padding: 10px 0;
}



main section span{
    display: block;
}

main section img{
    width: 15px;
}

.sec-margin{
    margin-top: 60px;
}


.whsec{
    width: calc(100% / 3 - 60px);
}

.wh-mar{
    margin-right: 90px;
}

.sect-container{
    padding: 12%;
}

.sec-one{
    line-height: 20px;
}

.sec-one h2{
    margin-bottom: 20px;
}

.lb-time{
    font-size: 0.7em;
    color: grey;
}

.sec-two{
    font-size: 0.9em;
    margin-bottom: 70px;
}

.sec-two li{
    margin-bottom: 10%;
}

.stbtn{
    padding: 3% 15%;
}

.sec-three span{
    margin-top: 30px;
}

.buy-btn{
    color: rgb(0, 132, 255);
}

.sec-four h3{
    font-size: 1em;
}
.sec-four ul li{
    font-size: 0.9em;
    margin: 10% 0;
}

.sec-four i{
    color: rgb(0, 132, 255);
    
}


/* second part */

.team{
    margin-top: 50px;
    margin-bottom: 150px;
}

.teamh{
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(202, 200, 200);
}

.teamh img{
    width: 15px;
}

.teamm{
    padding: 25px;
}

.teamm h3{
    margin: 20px 0 40px;
}

.partner{
    padding: 50px;
}

.partner h1{
    font-size: 2em;
}

.partner p{
    margin-bottom: 50px;
    line-height: 30px;
}

.partner a{
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
}

.partner a:hover{
    background-color: rgb(168, 168, 168);
    transition: 200ms;
}

#h1mar{
    margin-top: 100px;
}

.card{
    width: calc(100% / 3 - 100px);
    float: left;    
}

.card:nth-child(2), .card:nth-child(5){
    margin: 0 150px;
}

.card:nth-child(1), .card:nth-child(2), .card:nth-child(3){
    margin-bottom: 100px;
}

.mh1end{
    margin-top: 250px;
}

.sezd{
    width: 25%;
    height: 50vh;
    display: inline-block;
}

.sezda{
    width: 50%;
    height: 50vh;
    display: inline-block;
    padding: 50px;
}

.sezda p{
    margin: 50px 0 30px;
}

.squarea, .squareb{
    width: calc(100% / 2);
    height: calc(100% / 2);   
    float: left;
}

.squarea img, .squareb img{
    width: 50%;
    height: 50%;
    filter: invert(1);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

#padflo{
    padding: 20% 0;
}

.sezda img{
    width: 200px;  
}

.squarea:nth-child(1){
    background-color: rgb(153, 204, 153);  
}
.squarea:nth-child(2){
    background-color: rgb(56, 29, 38);
}
.squarea:nth-child(3){
    background-color: rgb(48, 160, 224);
}
.squarea:nth-child(4){
    background-color: red;
}

.squareb:nth-child(1){
    background-color: rgb(153, 14, 14);
}
.squareb:nth-child(2){
    background-color: rgb(154, 192, 204);
}
.squareb:nth-child(3){
    background-color: rgb(27, 27, 143);
}
.squareb:nth-child(4){
    background-color: yellow;
}

.test{
    background-color: lightblue;
    padding: 5% 15%;
    margin-top: -5px;
}

.test h1{
    font-size: 3em;
}

.test a{
    line-height: 50px;
    background-color: white;
    text-align: center;
    color: black;
}

.test a:hover{
    background-color: rgba(31, 30, 30, 0.726);
    color: white;
}

.faq{
    padding: 5% 15%;
}

.faq h1{
    margin-bottom: 3%;
}

.quest{
    border-top: 1px solid grey;
    padding: 2% 0;
    cursor: pointer;
}

.quest:nth-child(5){
    border-bottom: 1px solid grey;
}

.quest p:nth-child(1){
    display: inline;
}

.quest span{
    float: right;
    width: 3%;
}



.answer{
    display: none;
}

.quest:hover > .answer{
    display: block;
    margin-top: 30px;
}

.quest:hover > .q-row{
    transform:rotate(180deg);
}

/* for footer */

footer{
    background-color: black;
    height: 50vh;
}

footer li, footer a{
    color: white;
    margin-bottom: 5px;
}

footer h3{
    color: white;
    margin-bottom: 10%;
    font-size: 1.5em;
}

.linkcontainer{
    margin: 0 15%;
}

.linkgroup{
    margin-top: 5%;
    display: inline-block;
    width: calc(100% / 5 - 5px);
}

.language select{
    width: 7%;  
    border: none;
    color: white;
    background-color: black;
    position: relative;
    top: 70%;
    left: 15%;
    border-top: 1px solid white;
}

.language{
    height: 40%;    
}