*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* funzioni ripetute */
li{
    list-style: none;
}

a{
    text-decoration: none;
}

ul{
    display: inline;
    vertical-align: middle;
}

.f-left{
    float: left;
}

.f-right{
    float: right;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.wh100{
    width: 100%;
}

.wh40{
    width: 40%;
}

.wh30{
    width: 30%;
}

.wh20{
    width: 20%;
}

.bg-black{
    background-color: black;
}

.ver-al
{
    vertical-align: middle;
}

.border{
    border: 1px solid rgb(202, 200, 200);
}

.fw-bold{
    font-weight: bold;
}

/* for header */
header ul li{
    display: inline;
    padding: 0 20px;
    vertical-align: middle;
    font-size: 1.2em;
    font-weight: bold;
}

header ul li:hover{
    background-color: rgb(230, 221, 221);
    transition: 200ms;
    padding: 10px 20px;
}

header nav{
    line-height: 80px;
    margin: 0 20px;
}

header a{
    color: rgb(27, 26, 26);
}

.brand-btn{
    background-color: rgb(34, 34, 255);
    padding: 10px 15px;
    color: white;
    font-weight: bold;
}

.brand-btn:hover{
    background-color: rgb(61, 61, 255);
    transition: 200ms;
}


.end-footer{
    background-color: rgb(169, 197, 250);
    padding: 130px;
}

.end-footer h1{
    font-size: 6em;
    margin-bottom: 50px;
}

.end-footer .jumbot{
    width: 50%;
    position: absolute;
    margin-left: 100px;
}

.end-footer p{
    font-weight: bold;
    margin-bottom: 40px;
}

.end-footer span{
    display: block;
    margin-top: 20px;
    font-weight: bold;
}

.ar-down{
    width: 10%;
    margin-top: 50px;
}

/* for main */
.container{
    margin: 15%;
}

.container h1{
    font-size: 2.7em;
    margin-bottom: 50px;
}

main section{
    margin-top: 30px;
    line-height: 30px;
}

#user{
    border-bottom: 1px solid rgb(202, 200, 200);
}